@{
    ViewBag.Title = "OpenTok .NET Sample";
}
@section scripts
{
    <script type="text/javascript" src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
    <script type="text/javascript">
        var API_KEY = '@ViewBag.APIKey';
        var TOKEN = '@ViewBag.Token';
    </script>
    @Scripts.Render("~/bundles/recorder")
}

<p>Token: @ViewBag.Token</p>

<div id="recorderContainer" style="float:left; height:340px; width 329px; margin-right:8px;">
    <p>Recorder:</p>
</div>
<div id="playerContainer" style="float:left; height:340px; width 320px; display:none">
	<p>Stand-alone player:</p>
</div>
<div style="clear:both; margin"></div>
<div id="archiveList" style="height:100px; display:none">
	<p>Recordings (click to play):</p>
</div>
